[Unit]
Description=Feren OS OEM Setup Cleanup
ConditionFileIsExecutable=/usr/bin/feren-oem-remove
Before=getty@tty1.service getty@tty2.service getty@tty3.service getty@tty4.service getty@tty5.service getty@tty6.service systemd-user-sessions.service display-manager.service feren-oem-config.service
After=network.target acpid.service acpid.socket acpid.path

[Service]
Type=oneshot
ExecStart=/usr/bin/feren-oem-remove
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
