[Unit]
Description=Feren OS OEM Setup Cleanup
ConditionFileIsExecutable=/usr/bin/feren-oem-remove
RequiresMountsFor=/ /bin /dev /etc /home /lib /opt /proc /run /sbin /usr /var

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/bin/feren-oem-remove
RemainAfterExit=true
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
